
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/Login/Css/reset.css" rel="stylesheet" />
<link href="~/Content/Login/Css/style.css" rel="stylesheet" />

<style>
    body {
        background-image: url('../../Content/Login/Image/login.jpg');
        background-size: 100%;
    }
</style>
<body>
    <div class="page-container">
        <h1>Login</h1>
        <form>
            <input type="text" name="username" class="username" placeholder="Username">
            <input type="password" name="password" class="password" placeholder="Password">
            <button type="submit">Login in</button>
        </form>
    </div>
</body>




